extends shared/layout
block content
    if (currentDevice === "desktop")
        div(id="test" style="font-size:0;height: 450px; width: 900px; overflow: hidden; background-color: black; margin: 0 auto;line-height: 450px;")
            ul(class="ref" style="text-align: center; font-size:0; width: 3300px; height: 100px; list-style-type: none; white-space: nowrap; padding: 0px; margin: 0px;position: relative;" data-toggle="tooltip" data-placement="top" title="asdad")
                li(id="1" style="width: 300px; position: relative;" title="Билла")
                    img(src="/RefImages/r1slide.jpg" alt="" title="Билла")
                li(id="2" style="width: 300px; position: relative;" title="Микс ПС")
                    img(src="/RefImages/r2slide.jpg" alt="" title="Микс ПС")
                li(id="3" style="width: 300px; position: relative;" title="Община Радомир")
                    img(src="/RefImages/r3slide.jpg" alt="" title="Община Радомир")
                li(id="4" style="width: 300px; position: relative;" title="Трачинвест-София")
                    img(src="/RefImages/r4slide.jpg" alt="" title="Трачинвест-София")
                li(id="5" style="width: 300px; position: relative;" title="Общинска Администрация Сливен")
                    img(src="/RefImages/r5slide.jpg" alt="" title="Общинска Администрация Сливен")
                li(id="6" style="width: 300px; position: relative;" title="Хубано ЕООД Габрово")
                    img(src="/RefImages/r6slide.jpg" alt="" title="Хубано ЕООД Габрово")
                li(id="7" style="width: 300px; position: relative;" title="ПСАГБАЛ Света Троица ЕАД")
                    img(src="/RefImages/r7slide.jpg" alt="" title="ПСАГБАЛ Света Троица ЕАД")
                li(id="8" style="width: 300px; position: relative;" title="Алианс")
                    img(src="/RefImages/r8aslide.jpg" alt="" title="Алианс")
                li(id="9" style="width: 300px; position: relative;" title="Соник Модул ЕООД")
                    img(src="/RefImages/r9slide.jpg" alt="" title="Соник Модул ЕООД")
                li(id="10" style="width: 300px; position: relative;" title="MB - Инженеринг ООД")
                    img(src="/RefImages/r10aslide.jpg" alt="" title="MB - Инженеринг ООД")
                li(id="11" style="width: 300px; left: -3300px; position: relative;" title="АЛВЕ Консулт ЕООД")
                    img(src="/RefImages/r11aslide.jpg" alt="" title="АЛВЕ Консулт ЕООД")
        input(type="range" class="sliderOne" value="2" min="1" max="11" step="1")
    else 
        style.
            img {
                display:block;
                margin:auto;
            }
        div(class="col-md-7")
            div(id="carousel-example-generic" class="carousel slide" data-ride="carousel")
                ol(class="carousel-indicators")
                    li(data-target="#carousel-example-generic" data-slide-to=0 class="active")
                    li(data-target="#carousel-example-generic" data-slide-to=1)
                    li(data-target="#carousel-example-generic" data-slide-to=2)
                    li(data-target="#carousel-example-generic" data-slide-to=3)
                    li(data-target="#carousel-example-generic" data-slide-to=4)
                    li(data-target="#carousel-example-generic" data-slide-to=5)
                    li(data-target="#carousel-example-generic" data-slide-to=6)
                    li(data-target="#carousel-example-generic" data-slide-to=7)
                    li(data-target="#carousel-example-generic" data-slide-to=8)
                    li(data-target="#carousel-example-generic" data-slide-to=9)
                    li(data-target="#carousel-example-generic" data-slide-to=10)


                div(class="carousel-inner" style="text-align: center")
                    div(class="item active")
                        img(src="/RefImages/r1slide.jpg" alt="..." class="img-responsive")
                    div(class="item")
                        img(src="/RefImages/r2slide.jpg" alt="..." class="img-responsive")
                    div(class="item")
                        img(src="/RefImages/r3slide.jpg" alt="..." class="img-responsive")
                    div(class="item")
                        img(src="/RefImages/r4slide.jpg" alt="..." class="img-responsive")
                    div(class="item")
                        img(src="/RefImages/r5slide.jpg" alt="..." class="img-responsive")
                    div(class="item")
                        img(src="/RefImages/r6slide.jpg" alt="..." class="img-responsive")
                    div(class="item")
                        img(src="/RefImages/r7slide.jpg" alt="..." class="img-responsive")
                    div(class="item")
                        img(src="/RefImages/r8aslide.jpg" alt="..." class="img-responsive")
                    div(class="item")
                        img(src="/RefImages/r9slide.jpg" alt="..." class="img-responsive")
                    div(class="item")
                        img(src="/RefImages/r10aslide.jpg" alt="..." class="img-responsive")
                    div(class="item")
                        img(src="/RefImages/r11aslide.jpg" alt="..." class="img-responsive")
                        
                    a(class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev")
                        span(class="glyphicon glyphicon-chevron-left")
                    a(class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next")
                        span(class="glyphicon glyphicon-chevron-right")